@main-background: #FAFFF9;
@main-text: #006032;
@list-font: 'Play', sans-serif;
@main-font: 'Francois One', sans-serif;

html, body {
    margin: auto;
    text-align: center;
}

#main-header {
    font-family: 'Francois One' sans-serif;
}